
body {
    font-family: Jura;
    background-color: #F8E8DA;
}

h1 {
    font-family: 'Nova Round';
    font-size: 45px;
}


a:link, a:visited {
    color: white;
    text-decoration: none;
    font-family: Jura;
    font-size: 20px;
}

p {
    font-family: Jura;
    font-size: 18px;
}


.title {
    display: flex;
    height: 100px;
    background-image: url("/images/ppalettecircles.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size:contain;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}


.titletxt {
    display: flex;
    align-items: baseline;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    margin: 40px 0 10px 0;
    height: 50px;

}


.navlink {
    display: flex;
    list-style: none;
    margin: auto;
    padding: 0;
}

#active {
    text-decoration: underline solid 5px #F28705;
}



.hero {
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 630px;
}


.heroimg {
    display: flex;
    width: 50%;
    max-width: 300px;
}


.herotxt {
    display: flex;
    text-align: right;
    font-size: 25px;
    background-image: linear-gradient(to left, rgba(45, 221, 41, 0.21), rgba(45, 221, 41, 0));
}


.card {
    color: white;
    background-color: black;
    border-radius: 8px;
    margin:15px;
    padding:10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

p.card {
    margin-block-start: none;
    margin-block-end:none;
}


.btn {
    display: flex;
    justify-content: center;
    background-color: #2DDD29;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: 'Nova Round';
    font-size: 28px;
    margin: auto;
    margin-top:30px;
    margin-bottom: 30px;
    padding:5px;
    border: solid 1px black;
    width: 50%;
    min-width:250px;
    max-width:400px;
}


a.btn {
    color:black;
    font-family: Nova Round;
    size:30px;
}



.footerimg {
    display:block;
    margin: 30px auto 30px auto;
    width: 50px;
}


.footernav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin:0;
    padding:0;
    gap: 40px; /*not sure why this works...*/
}


.footer-btn {
    display: flex;

}


.home {
    display: flex;
    background-color: #F2357B;
    padding: 10px;
    border-radius: 8px;
    border: solid 1px black;
    height:40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.mail {
    display: flex;
    justify-self: center;
    background-color: #2DDD29;
    padding: 10px;
    border-radius: 8px;
    border: solid 1px black;
    height:40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.linkedin {
    display: flex;
    background-color: #F28705;
    padding: 10px;
    border-radius: 8px;
    border: solid 1px black;
    height:40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}